/* Given CSS */
body {
  font-family: serif;
  margin: 0px;             /*  I changed the body css */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}


/*Navbar*/

#navBar{
  position: absolute;
  width: 100%;
  height: 140px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;

}

/*Top of Navbar*/

#navBarTopSection{
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: white;
}

#navBarTopSectionGuestLinkContainer{
  width: 35%;
}

#navBarTopSectionUserLinkContainer{
  width: 40%;
}

.navBarTopLink{
  border: black 1px solid;
  background-color: black;
  color: white;
  padding: 0px 10px;
  font-size: 30px;
  height: 50%;
  width: 8%;
  position: relative;
  top: 40%;
  margin-right: 8%;
  border-radius: 10px 10px;

}


.navBarSnakeIcon{
  height: 70px;
}

#navBarTopSection > h1{
  margin-top: 5px;
  line-height: 100%;
  font-size: 60px;
  width: 60%;

}


/*Bottom Part*/

#navBarBottomSection{
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navBarBottomLink{
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  color: black;
  font-size: 24px;
  border-radius: 8px 8px;
  height: 70%;
  margin-top: 7px;
  text-align: center;
  line-height: 140%;
}


/* Auth-Form Section */
#formPage{
  background-image: url('https://sonurai.com/wallpaper/GuadalupeMountainsNP_EN-US10701657795.jpg');
  background-size: cover;
  height: 740px;
}

#loginSignupForm{
  background-color: black;
  color: white;
  width: 28%;
  margin-left: 5%;
  height: 400px;
  position: relative;
  top: 20%;
  border-radius: 10%;
  border: white 4px solid;
  text-align: center;
  padding-top: 20px;
  font-size: 22px;
}

.loginSignupInputContainer{
  height: 70px;

  width: 72%;
  margin: 0px auto 0px auto;

}

.loginSignupInputContainer > input{
  font-size: 18px;
  float: right;
}

.loginSignupInputContainer > label{
  display: inline;
}

#loginSignupButtonContainer{
  margin-bottom: 2px;
}

#loginSignupForm button{
  background-color: white;
  border-radius: 10px 10px;
  border: black solid 1px;
  margin: 0px 5px;
  font-size: 20px;

}

/* Home Page */

#userHomePage{

  background-image: url('https://drive.google.com/uc?export=download&id=1cl1rkt7sBoZnKd4s537AXdzvN_9Os_5w');
  background-size: cover;
  height: 740px;

}

#userHomePage > div{
  background-color: black;
  border: white 3px solid;
  border-radius: 20px 20px;
  width: 40%;
  height: 25%;
  position: relative;
  top: 35%;
  left: 30%;
  color: white;
  text-align: center;
  padding-top: 30px;
}

#userHomePage h1{
  font-size: 40px;
  margin: 15px 0px;
}

#userHomePage h2{
  font-size: 30px;
  margin: 15px 0px;
}

/* Product List Page */

/* Category Header and Search Bar */
.titleAndSearchBarContainer{
  width: 100%;
  border: 1px solid black;
  height: 350px;
  background-size: cover;
  margin-bottom: 30px;
}

.all{
  background-image: url('https://drive.google.com/uc?export=download&id=19dLc0rArwS1ltBetMRAFYv5xRmTFula-');
}

.apparel{
  background-image: url('https://drive.google.com/uc?export=download&id=1KRGh_PW_puGeCNqmWlWyd6uYHQGGq-aL');
}

.health{
  background-image: url('https://drive.google.com/uc?export=download&id=1e0jfZ6T-bmz9YcqIZpx6XYff8ee7R5t-');
}

.miscellaneous{
  background-image: url('https://drive.google.com/uc?export=download&id=1_llwIGyvqOOXZjaPMLvanFcaNTpx3AII');
}

.titleAndSearchBar{
  background-color: black;
  border: 3px white solid;
  position: relative;
  top: 30%;
  left: 35%;
  width: 30%;
  color: white;
  border-radius: 15px 15px;
  padding-bottom: 30px;
  text-align: center;
}

.titleAndSearchBar > input{
  font-size: 18px;
  color: black;
}

.titleAndSearchBar > span{
  font-size: 22px;
  position: relative;
  top: 3px;
  left: -5px;
}


/* Product Listing */
#thumbNailContainer{
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto 0px auto;
  width: 95%;

}


.thumbNail{
  width: 250px;
  border: black 3px solid;
  text-align: center;
  border-radius: 20px;
  padding-bottom: 20px;
  margin: 20px 40px;
}

.thumbNailImage{
  display: block;
  border: black 1px solid;
  margin: 0px auto 0px auto;
}

.projectSummary > h4{
  background-color: black;
  color: white;
  width: 40%;
  position: relative;
  left: 30%;
  border-radius: 3px;
  padding: 2px;
/*   margin: 0 auto 0 aut */
}
/* .thumbnail-container {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  width: 19vw;
  height: 40vh;
}

.thumbnail img {
  height: 20vh;
} */


/* Single Product Page */

#productPageBackground{
  background-image: url("http://wallsdesk.com/wp-content/uploads/2016/11/Grand-Canyon-Widescreen.jpg");
  height: 1300px;
}
#productPageContainer{
  width: 75%;
  margin: 0px auto 0px auto;
  border: 10px black solid;
  padding: 20px 30px 0px 30px;
  background-color: white;
  border-radius: 30px;
  position: relative;
  top: 100px;
}

#productPageContainerTop{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

#productPageMainPhoto{
  width: 45%;
  height: 500px;
  border: black 5px solid;
  border-radius: 20px;
}

#productPageInfoContainer{
  width: 50%;

}

#productPageInfoContainer > h1{
  font-size: 40px;
}

#productPageInfoContainer > p{
  width: 80%;
  margin: 0px auto 0px auto;
  padding-bottom: 25px;
}

#productPageFormContainer{
  width: 60%;
  margin: 0 auto 0 auto;
  text-align: center;

}

#productPageFormContainer > button{
  background-color: black;
  color: white;
}

.productPageReviewBox{
  margin-top: 40px;
  margin: 0px auto 0px auto;

}

#productPageReviewFormContainer{
  width: 80%;
  margin-bottom: 40px;

}








.checkout-form {
  display: flex;
  flex-wrap: wrap
}
.hidden {
  display: none
}


